{% extends 'base.html.twig' %}

{% block title %}Edit UserFilm{% endblock %}

{% block body %}
    <h1>Edit UserFilm</h1>

    {{ include('user_film/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_film_index') }}">back to list</a>

    {{ include('user_film/_delete_form.html.twig') }}
{% endblock %}
